<section class="section-rastreio">
    <div class="subsection-rastreio">
        <h2>Enviando</h2>
        <div>
            <p>Linha do tempo</p>
            <div>
                <div class="ckechpoint">
                    <div class="cicle-point"></div> <label class="nome_point_checkPoint"></label>
                </div>    
            </div>
        </div>
        <div class="info-rastreio" >
            <div *ngFor="let pedido of pedidos">
                <h3>Postagem</h3>
                <label>Data: {{pedido.data_envio}}</label>
            </div>
            <div *ngFor="let pedido of pedidos">
                <h3>Previsão de recebimento</h3>
                <label>Data:{{pedido.tempo_entrega}}</label>
            </div>
        </div>
    </div>