<section class="section-rastreio">
    <div class="subsection-rastreio">
        <h2>Enviando</h2>
        <div class="subsection-rastreio-pedidos">
            <div class="subsection-rastreio-pedidos-pedido" *ngFor="let pedido of pedidos">
                <div>
                    <p>Linha do tempo</p>
                    <div>
                        <div class="ckechpoint">
                            <div class="cicle-point"></div> <label class="nome_point_checkPoint"></label>
                        </div>    
                    </div>
                </div>
                <div class="info-rastreio" >
                    <div>
                        <h3>Postagem</h3>
                        <label>Pedido: {{pedido.nome_pedido}}</label>
                        <label>Data: {{pedido.Data_formatada}}</label>
                    </div>
                    <div>
                        <h3>Previsão de recebimento</h3>
                        <label>Data:{{pedido.tempo_entrega}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>