<section class="section-rastreio">
    <div class="subsection-rastreio">
        <h2>Enviando</h2>
        <div>
            <p>Linha do tempo</p>
            <progress value="32" max="100"></progress><br>
        </div>
        <div class="info-rastreio">
            <div>
                <h3>Postagem</h3>
                <label>Data:</label><br>
                <label>Horario:</label><br>
            </div>
            <div>
                <h3>Previsão de recebimando</h3>
                <label>Data:</label><br>
                <label>Horario:</label>
            </div>
        </div>
    </div>
    <div class="subsection-rastreio">
        <h2>Recebendo</h2>
        <div>
            <p>Linha do tempo</p>
            <progress value="32" max="100"></progress>
        </div>
        <div class="info-rastreio">
            <div>
                <h3>Postagem</h3>
                <label>Data:</label><br>
                <label>Horario:</label><br>
            </div>
            <div>
                <h3>Previsão de recebimando</h3>
                <label>Data:</label><br>
                <label>Horario:</label>
            </div>            
        </div>
    </div>
</section>