<div >
  <!-- nome do cliente produto data e end -->
  <div class="rota" *ngFor="let pedido of pedidos">

    <div class="dados-pedido">{{pedido.nome}} | {{pedido.nome_pedido}} | Rota: </div>
    <div class="estado" *ngFor="let pos of pedido.estado_atual">
      <div *ngIf="pos==pedido.estado_atual[pedido.estado_atual.length-1]">{{pos}} </div>
      <div *ngIf="pos!=pedido.estado_atual[pedido.estado_atual.length-1]">{{pos}} -></div>
    </div>


    <button *ngIf="pedido.estado_atual[pedido.estado_atual.length-1]!=pedido.endereco_entrega" (click)="atualizarCaminhoPedido(pedido)" name="botaoAtualizar" >Atualizar Caminho</button>

    <br>
  </div>

</div>
