
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <h4>Objetos</h4>
    <table  class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Codigo</th>
          <th scope="col">add</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of objetoAberto">
          <td>{{item.codigo}}</td>
          <td><button name="adicionar"  style="width: 50px ;" (click) = "adicionarObjetoEntrega(item.codigo)">+</button></td>
        </tr>
      </tbody>
    </table>
   </div>
  <div class="col-md-3">
    <h4>Entrega</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of objetoEmpacotado">
          <td>{{item.codigo}}</td>
          <td><button name="remover"  style="width: 50px ;" (click) = "removerOBjetoEmpacotamento(item.codigo)">-</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class=" row mt-5" >
  <div class="col-md-5"></div>
  <div class="col-md-6"><button name="fecharEntrega" class="btn btn-primary mt-50" (click)="fecharEntrega()">Fechar entrega</button></div>
  <div class="col-md-5"></div>
</div>



